<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" href="/static/img/OpenLoopBlack.png">
    <link rel="apple-touch-startup-image" href="/static/img/OpenLoopBlack.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>My Sensor - OpenLoop</title>
    <meta name="" content="">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <link rel="icon" type="image/png" sizes="500x500" href="/static/img/OpenLoopBlack.png">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="../" style="padding-top: 40px;">
                    <div class="sidebar-brand-icon"><img src="/static/img/OpenLoop.png" width="60px" style="margin-top: -5px;"></div>
                    <div class="sidebar-brand-text mx-3"><span style="margin-right: 35px;">OpenLoop</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    {% for i in navbar %}
                        <li class="nav-item"><a class="nav-link {{i.active}}" href="{{i.href}}"><i class="{{i.icon}}"></i><span>{{i.name}}</span></a></li>
                    {% endfor %}
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                        {% if alerts.length() > 0 %}
                                        <span class="badge bg-danger badge-counter" id="notnum">{{alerts.length()}}</span>
                                        {% endif %}
                                        <i class="fas fa-bell fa-fw"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <div id="clear-me">
                                            {% for i in alerts %}
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <div class="me-3">
                                                    <div class="bg-{{i.color}} icon-circle"><i class="{{i.icon}} text-white"></i></div>
                                                </div>
                                                <div><span class="small text-gray-500">{{i.combo}}</span>
                                                    <p>{{i.description}}</p>
                                                </div>
                                            </a>
                                            {% endfor %}
                                        </div>
                                        <a class="dropdown-item text-center small text-gray-500" href="#" id="clear">Clear Notifications</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <li class="nav-item dropdown no-arrow"></li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-1" style="padding: 0;padding-bottom: 10px;"><i class="fas fa-dot-circle" style="margin-right: 5px;color: var(--bs-green);"></i>{{settings.get('name', name)}}</h3>
                    {% if settings.get('calibrate', False): %}
                        <a class="btn btn-success btn-icon-split" role="button" style="margin-right: 10px;">
                            <span class="text-white-50 icon"><i class="fas fa-redo"></i></span>
                            <span class="text-white text">Calibrate</span>
                        </a>
                    {% else %}
                        <a class="btn btn-secondary btn-icon-split" role="button" style="margin-right: 10px;">
                            <span class="text-white-50 icon"><i class="fas fa-redo"></i></span>
                            <span class="text-white text">Calibrate</span>
                        </a>
                    {% endif %}
                    {% if settings.get('warn', False) %}
                        <a class="btn btn-warning btn-icon-split" role="button" style="margin-right: 10px;">
                            <span class="text-white-50 icon"><i class="fas fa-exclamation-triangle"></i></span>
                            <span class="text-white text">See warnings</span>
                        </a>
                    {% else %}
                        <a class="btn btn-secondary btn-icon-split" role="button" style="margin-right: 10px;">
                            <span class="text-white-50 icon"><i class="fas fa-exclamation-triangle"></i></span>
                            <span class="text-white text">See warnings</span>
                        </a>
                    {% endif %}
                    <a class="btn btn-secondary btn-icon-split" role="button">
                        <span class="text-white-50 icon"><i class="fas fa-trash"></i></span>
                        <span class="text-white text">Delete driver</span>
                    </a>
                </div>
                <div class="container" style="margin-top: 25px; margin-left: 0px;">
                    <div class="row">
                        {% if settings.get("feature", False) %}
                            <div class="col-md-8">
                                <div class="card shadow mb-4" style="padding-bottom: 50px;">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">Chart&nbsp;</h6>
                                        <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                                <p class="text-center dropdown-header">Chart&nbsp;</p><a class="dropdown-item" href="#">Change database</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-area"><canvas data-bss-chart="{{chart}}"></canvas></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary m-0 fw-bold">Description</h6>
                                    </div>
                                    <div class="card-body">
                                        <p class="m-0">{{settings.get('description', 'No Description')}}&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-8">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary m-0 fw-bold">Description</h6>
                                    </div>
                                    <div class="card-body">
                                        <p class="m-0">{{settings.get('description', 'No Description')}}&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Made by Cyclone Communications</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/chart.min.js"></script>
    <script src="/static/js/bs-init.js"></script>
    <script src="/static/js/theme.js"></script>
</body>

</html>